<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/checkout.css">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> -->
  <title>Checkout Page</title>
</head>
<!-- <script>alert("order being confirmed!")</script> -->
<body>
  <div id="wrapper">
  <header>
  <div class="thanks">
    <img src="/images/thanks.png" alt="thank you" height="450px" width="450px">
    </div>
<div>
<p>Hope you enjoy!!!</p>
<p>You will recieve an order confirmation via text shortly</p>
</div>
</header>
<footer>
  <div class="note">
    <p>If there are any issues please don't hesitate and reach out to us.</p>

    <a class="button" href="/main#contact-us">Contact Us</a>

</div>
</footer>
</div>
</body>
</html>
