<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/checkout.css">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> -->
  <title>Checkout Page</title>
</head>
<!-- <script>alert("order being confirmed!")</script> -->
<body>
  <div class="thanks">
    <img src="/images/thanks.png" alt="Thank You" height="1000px" width="1000px">
    </div>
<div>
<p>Thank You!!!</p>
<p>You will recieve an order confirmation via text shortly</p>
</div>
<div class="note">
    <p>If there are any issues please don't hesitate and reach out to us.</p>
  <form method="POST" action="/cart1/checkout1">
  <button type="submit">Contact Information</button>
  </form>
</div>
</body>
</html>
