<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/checkout.css">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> -->
  <title>Checkout Page</title>
</head>
<!-- <script>alert("order being confirmed!")</script> -->
<body>
  <div id="wrapper">
  <header>
  <div class="thanks">
    <img src="/images/thanks.png" alt="thank you" height="1500px" width="1500px">
    </div>
<div>
<p>Hope you enjoy!!!</p>
<p>You will recieve an order confirmation via text shortly</p>
</div>
</header>
<!-- <div class="container">
    <img src="/images/table.png" alt="table" height="2000px" width="4000px">

</div> -->
<footer>
  <div class="note">
    <p>If there are any issues please don't hesitate and reach out to us.</p>
  <form id="contact" method="POST" action="/cart/checkout1">
  <button class="button" type="submit">Contact Information</button>
  </form>
</div>
</footer>
</div>
</body>
</html>
