<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action="/login">
      <input type="number" name="user_id" placeholder="Enter User ID" />
      <input type="submit" value="Login" />
    </form>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const error = urlParams.get('error');

      if (error === 'invalid') {
        alert('Invalid user ID. Please try again.');
      }
    </script>
</body>
</html>
