<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/public/styles/main.css" />
  <link rel="stylesheet" href="/public/styles/layout.css" />
  <link rel="stylesheet" href="/styles/orders.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/orders.js"></script>
</head>

<body>
  <h1>Orders</h1>
  <button id="fetch-orders">Fetch Orders via AJAX</button>
  <div>
    <button class="ordertabs" id="defaultTab" onclick="openTab(event, 'orders-active')">current orders</button>
    <button class="ordertabs" onclick="openTab(event, 'orders-history')">order history</button>
  </div>
  <container id="orders-container">
    <section id="orders-active">
      <ul id="orders-pending"></ul>
      <ul id="orders-progress"></ul>
    </section>
    <section id="orders-history">
      <ul id="orders-completed"></ul>
      <ul id="orders-cancelled"></ul>
    </section>
  </container>
</body>

</html>
